<mat-nav-list>
  <a mat-list-item style="margin-right: 15px; margin-bottom: 15px;" id="csvExportButton"
     (click)="this.exportCsv()">
    <span mat-line>Download CSV</span>
    <span mat-line>Export graphs as a CSV.</span>
  </a>
</mat-nav-list>

