<div class="bounds">
  <div class="person-container"
       fxLayout="column" fxFlexFill style="float: left; width: 320px; padding-left: 10px;"
       *ngIf="displayMeasurements.length > 0">
    <div fxFlex="25" id="section1" style="width:324px;">
      <div class="textContainer" style="float: left;">
      <img (mouseenter)="hover=1" src="{{hover === 1 ? '../../../assets/section1Ldark.jpg' :
      '../../../assets/section1L.jpg'}}" class="picture" alt="body">
        <div class="topLeft">
          <h2 class="mat-h2"
              [ngStyle]="{color: displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu1LDeviationColor : '#4caf50'}">
            {{displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu1LDeviation : 0.0}}
          </h2>
        </div>
      </div>
      <div class="textContainer" style="float: right">
      <img (mouseenter)="hover=2" src="{{hover === 2 ? '../../../assets/section1Rdark.jpg' :
      '../../../assets/section1R.jpg'}}" class="picture" alt="body">
        <div class="topRight">
          <h2 class="mat-h2"
            [ngStyle]="{color: displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu1RDeviationColor : '#4caf50'}">
            {{displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu1RDeviation : 0.0}}
          </h2>
        </div>
      </div>
    </div>
    <div fxFlex="25" id="section2" style="width:324px;">
      <div class="textContainer" style="float: left;">
        <img (mouseenter)="hover=3" src="{{hover === 3 ? '../../../assets/section2Ldark.jpg' :
        '../../../assets/section2L.jpg'}}" class="picture" alt="body">
        <div class="topLeft">
          <h2 class="mat-h2"
            [ngStyle]="{color: displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu2LDeviationColor : '#4caf50'}">
            {{displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu2LDeviation : 0.0}}
          </h2>
        </div>
      </div>
      <div class="textContainer" style="float: right;">
        <img (mouseenter)="hover=4" src="{{hover === 4 ? '../../../assets/section2Rdark.jpg' :
        '../../../assets/section2R.jpg'}}" class="picture" alt="body">
        <div class="topRight">
          <h2 class="mat-h2"
            [ngStyle]="{color: displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu2RDeviationColor : '#4caf50'}">
            {{displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu2RDeviation : 0.0}}
          </h2>
        </div>
      </div>
    </div>
    <div fxFlex="25" id="section3" style="width:324px;">
      <div class="textContainer" style="float: left;">
        <img (mouseenter)="hover=5" src="{{hover === 5 ? '../../../assets/section3Ldark.jpg' :
        '../../../assets/section3L.jpg'}}" class="picture" alt="body">
        <div class="topLeft">
          <h2 class="mat-h2"
            [ngStyle]="{color: displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu3LDeviationColor : '#4caf50'}">
            {{displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu3LDeviation : 0.0}}
          </h2>
        </div>
      </div>
      <div class="textContainer" style="float: right;">
        <img (mouseenter)="hover=6" src="{{hover === 6 ? '../../../assets/section3Rdark.jpg' :
        '../../../assets/section3R.jpg'}}" class="picture" alt="body">
        <div class="topRight">
          <h2 class="mat-h2"
            [ngStyle]="{color: displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu3RDeviationColor : '#4caf50'}">
            {{displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu3RDeviation : 0.0}}
          </h2>
        </div>
      </div>
    </div>
    <div fxFlex="25" id="section4" style="width:324px;">
      <div class="textContainer" style="float: left;">
        <img (mouseenter)="hover=7" src="{{hover === 7 ? '../../../assets/section4Ldark.jpg' :
        '../../../assets/section4L.jpg'}}" class="picture" alt="body">
        <div class="topLeft">
          <h2 class="mat-h2"
            [ngStyle]="{color: displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu4LDeviationColor : '#4caf50'}">
            {{displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu4LDeviation : 0.0}}
          </h2>
        </div>
      </div>
      <div class="textContainer" style="float: right;">
        <img (mouseenter)="hover=8" src="{{hover === 8 ? '../../../assets/section4Rdark.jpg' :
        '../../../assets/section4R.jpg'}}" class="picture" alt="body">
        <div class="topRight">
          <h2 class="mat-h2"
            [ngStyle]="{'color': displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu4RDeviationColor : '#4caf50'}">
            {{displayMeasurements.length > 0 ? displayMeasurements[displayMeasurements.length - 1].imu4RDeviation : 0.0}}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 70%; margin-left: 360px" class="graph" id="graphContainer" [hidden]="displayMeasurements.length == 0">
    <app-basic-time-series [hidden]="hover !== 1"></app-basic-time-series>
    <app-basic-time-series [hidden]="hover !== 2"></app-basic-time-series>
    <app-basic-time-series [hidden]="hover !== 3"></app-basic-time-series>
    <app-basic-time-series [hidden]="hover !== 4"></app-basic-time-series>
    <app-basic-time-series [hidden]="hover !== 5"></app-basic-time-series>
    <app-basic-time-series [hidden]="hover !== 6"></app-basic-time-series>
    <app-basic-time-series [hidden]="hover !== 7"></app-basic-time-series>
    <app-basic-time-series [hidden]="hover !== 8"></app-basic-time-series>
  </div>
</div>
<br>
<mat-divider *ngIf="displayMeasurements.length > 0"></mat-divider>
<div style="float: left; width: 320px; padding-left: 10px; padding-top: 10px" *ngIf="displayMeasurements.length > 0">
  <mat-card style="height: 200px">
    <section class="mat-typography">
      <h2 class="mat-h2"><b>Session</b>: {{sessionId}}</h2>
      <mat-divider></mat-divider>
      <h3 class="mat-h3"><b>Session Duration:</b> {{runningMinutes > 9 ? '' : '0'}}{{runningMinutes}}:{{runningSeconds > 9 ? '' : '0'}}{{runningSeconds}}</h3>
      <h3 class="mat-h3"><b>Average Deviation:</b> {{averageDeviation}}</h3>
      <h3 class="mat-h3"><b>Percentage on Target:</b> {{pOnTarget}}%</h3>
    </section>
  </mat-card>
</div>
<div style="width: 70%; margin-left: 360px; padding-top: 10px; height: 200px" [hidden]="displayMeasurements.length == 0">
  <app-histogram [xPoints]="histogramXValues" [config]="{sessionId: this.sessionId}"></app-histogram>
</div>
<div align="center" *ngIf="displayMeasurements.length == 0 || !running" class="spinner">
  <h2 class="mat-h2" *ngIf="displayMeasurements.length == 0 && running">
    No points being received!
  </h2>
  <h2 class="mat-h2" *ngIf="!running && displayMeasurements.length == 0">
    Not recording points. Use the controls at the bottom to start recording.
  </h2>
</div>
<a mat-raised-button class="locked-button" (click)="openBottomSheet()">Controls</a>
