.locked-button {
  z-index: 10;
  position: fixed;
  top: 100%;
  left: 50%;
  width: 140px;
  height: 70px;
  margin-top: -35px;
  margin-left: -70px;
  color: white;
  background-color: cornflowerblue;
}

.locked-button:hover {
  background-color: #849cac;
}

.picture {
  border: none;
  width: 160px;
  padding-right: 2px;
}

.textContainer {
  position: relative;
}

.topLeft {
  position: absolute;
  left: 4px;
  top: -5px;
}

.topRight {
  position: absolute;
  right: 4px;
  top: -5px;
}
