<mat-sidenav-container class="sidenav-panel">
  <mat-sidenav #sideNav mode="side" style="width: 200px;"
               class="mat-elevation-z3" [mode]="'over'">
    <button style="width:100%;"
            (click)="toggleSidenav()"
            mat-button class="text-align-left"
            routerLink=""
            routerLinkActive="routerLinkActive">Current Session
    </button>
    <button style="width:100%;"
            (click)="toggleSidenav()"
            mat-button class="text-align-left"
            routerLink="/sessions"
            routerLinkActive="routerLinkActive">Historical Sessions
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="light" style="padding-top: 20px; z-index: 0">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

