.locked-button {
  z-index: 10;
  position: fixed;
  top: 100%;
  left: 50%;
  width: 140px;
  height: 70px;
  margin-top: -35px;
  margin-left: -70px;
  color: white;
  background-color: cornflowerblue;
}

.locked-button:hover {
  background-color: #849cac;
}

.contexts-field {
  width: 100%;
}

.date-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-field {
  width: 45%;
}

table.outer {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  overflow: scroll;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.18), 0 1px 5px 0 rgba(0,0,0,.18);
}

th.outer, td.outer {
  padding: 8px;
  text-align: left;
}

tr.head {
  border: 1px solid black;
  font-size: medium;
  height: 1.75em;
}

tr.outer {
  border-top: 1px solid black;
  font-size: small;
  height: 1em;
  border-bottom: 1px solid black;

}

tr.foot {
  border-bottom: 1px solid black;
  font-size: medium;
  height: 1.75em;
}

tr.clickable:hover {background-color:#eeeeee;}


.spinner {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

