<div class="container" style="padding-top: 0.5vw; padding-left: 10px; padding-right: 10px">
  <mat-accordion id="sessionConfig">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Historical Sessions</mat-panel-title>
      </mat-expansion-panel-header>
      <form>
        <div class="date-container">
          <mat-form-field class="date-field">
            <input name="startDate" matInput [(ngModel)]="sessionStart"
                   [matDatepicker]="df" placeholder="Data Point Start Date" (dateChange)="dateChange()">
            <mat-datepicker-toggle matSuffix [for]="df"></mat-datepicker-toggle>
            <mat-datepicker #df></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="date-field">
            <input name="dateTo" matInput [(ngModel)]="sessionEnd"
                   [matDatepicker]="dt" placeholder="Data Point End Date" (dateChange)="dateChange()">
            <mat-datepicker-toggle matSuffix [for]="dt"></mat-datepicker-toggle>
            <mat-datepicker #dt></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="contexts-field">
            <mat-select placeholder="Session ID" name="customSelects"
                        [(ngModel)]="selectedSessionId" [disabled]="!availableSessions || availableSessions.length == 0">
              <mat-option *ngFor="let session of availableSessions" value="{{session}}">{{'sessionId: ' + session}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="width: 100%">
          <div style="float: left; width: 50%">
            <mat-button-toggle-group>
              <mat-button-toggle [disabled]="!selectedSessionId || !sessionStart || !sessionEnd" (click)="onSubmit()">Submit</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div style="padding-top: 0.5vw; padding-left: 10px; padding-right: 10px" *ngIf="this.measurements && this.measurements.length > 0">
  <mat-card>
    <h2>{{'Session: ' + selectedSessionId}}</h2>
    <p>All measurements taken in the session.</p>
    <table class="outer">
      <tr class="head">
        <th class="outer">Time</th>
        <th class="outer">Imu1L</th>
        <th class="outer">Imu1R</th>
        <th class="outer">Imu2L</th>
        <th class="outer">Imu2R</th>
        <th class="outer">Imu3L</th>
        <th class="outer">Imu3R</th>
        <th class="outer">Imu4L</th>
        <th class="outer">Imu4R</th>
        <th class="outer">Average</th>
      </tr>
      <ng-container *ngFor="let measurement of measurements">
        <tr class="outer clickable" [ngStyle]="{'background-color': getColor(getAverage(measurement))}">
          <td class="outer">{{measurement.time}}</td>
          <td class="outer">{{measurement.imu1LDeviation}}</td>
          <td class="outer">{{measurement.imu1RDeviation}}</td>
          <td class="outer">{{measurement.imu2LDeviation}}</td>
          <td class="outer">{{measurement.imu2RDeviation}}</td>
          <td class="outer">{{measurement.imu3LDeviation}}</td>
          <td class="outer">{{measurement.imu3RDeviation}}</td>
          <td class="outer">{{measurement.imu4LDeviation}}</td>
          <td class="outer">{{measurement.imu4RDeviation}}</td>
          <td class="outer">{{getAverage(measurement)}}</td>
        </tr>
      </ng-container>
      <!--<tr class="outer foot">-->
        <!--<td class="outer">Average:</td>-->
        <!--<td class="outer">Todo</td>-->
      <!--</tr>-->
    </table>
  </mat-card>
</div>

<div align="center" *ngIf="loading" class="spinner">
  <mat-spinner color="accent"></mat-spinner>
</div>
<a mat-raised-button class="locked-button" (click)="openBottomSheet()">Export</a>
