<mat-nav-list>
  <a mat-list-item  disabled="true" style="margin-right: 15px; margin-bottom: 15px;" id="sessionId">
    <span mat-line>Current Session</span>
    <span mat-line>{{currentSession ? currentSession : "No data points received."}}</span>
  </a>
  <a mat-list-item style="margin-right: 15px; margin-bottom: 15px;" *ngIf="running"
     (click)="this.toggleRunning(!running)">
      <span mat-line>Pause</span>
      <span mat-line>Stop recording.</span>
  </a>
  <a mat-list-item style="margin-right: 15px; margin-bottom: 15px;" *ngIf="!running"
     (click)="this.toggleRunning(!running)">
    <span mat-line>Play</span>
    <span mat-line>Start recording.</span>
  </a>
</mat-nav-list>
