<section class="mat-typography">
<mat-toolbar style="background-color: cornflowerblue; color: white;">
  <button mat-icon-button (click)="sidenav.toggleSidenav()"><mat-icon>menu</mat-icon></button>
  Posture Monitor
</mat-toolbar>
</section>
<app-sidenav></app-sidenav>

