<div id="plotContainer" class="cardContainer" style="width:100%">
<mat-card id="plotCard" (window:resize)="onResize()" onresize="onResize()">
  <div>
    <mat-card-content>
     <div id="{{plotDivName}}" class="no-margins" style="flex-grow: 1; flex-shrink: 1;"></div>
    </mat-card-content>
  </div>
</mat-card>
</div>

